__pycache__/
output/
datasets/
weights/
.python-version
benchmark_models/models/pretrained_models/cifar10/*.th 
benchmark_models/models/pretrained_models/cifar10/*.pt
benchmark_models/models/pretrained_models/cifar100/*
benchmark_models/models/pretrained_models/imagenet/*